{% extends 'base.html.twig' %}

{% block body %}

    <div align="center" class="container">
        <h1>Adresse(s)</h1>
        <table class="table">
            <tr>
                <th>Numéro</th>
                <th>Boite</th>
                <th>Rue</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Action</th>
            </tr>
            {% for adresse in adresseList %}
            <tr>
                <td>{{ adresse.numero }}</td>
                <td>{{ adresse.boite }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.codePostal }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.pays }}</td>


                <td>&nbsp;
                    <a href="{{ path('editadresse', {"id":adresse.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                    <a href="{{ path ('deleteadresse', {"id":adresse.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{ path('addadresse') }}"><span class="glyphicon glyphicon-plus"></span>  Ajouter une adresse</a>
    </div>


{% endblock %}