{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

    <h1>Pc portable</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Prix</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for pc in pcList %}
            <tr>
                <td><img alt="pc" src="{{ asset('uploads/images/' ~ pc.products.image) }}" height="200px" width="200px"></td>
                <td>{{ pc.products.prix }}€</td>
                <td>{{  pc.marque }}</td>
                <td>{{ pc.modele }}</td>
                <td><a href="">détail</a>
                    <a href="{{ path('editpc', {"id":pc.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{{ path ('deletepc', {"id":pc.id}) }}"><span class="glyphicon glyphicon-trash"></span></a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}