{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <h1>Telephone</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Prix</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for telephone in telephoneList %}
            <tr>
                <td><img alt="pc" src="{{ asset('uploads/images/' ~ telephone.products.image) }}" height="200px" width="200px"></td>
                <td>{{ telephone.products.prix }}€</td>
                <td>{{  telephone.marque }}</td>
                <td>{{ telephone.modele }}</td>
                <td>
                    <a href="{{ path('edittelephone', {"id":telephone.id}) }}"><span class="fas fa-edit black"></span></a>
                    <a href="{{ path ('deletetelephone', {"id":telephone.id}) }}"><span class="fas fa-trash black"></span></a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}