{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>panier</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for contenu in panierList.contenu %}

                <tr>
                    <td>
                        <img alt="{{ contenu.product.categorie }}" src="{{ asset('uploads/images/' ~ contenu.product.image) }}" height="200px" width="200px">
                    </td>
                    <td>{{ contenu.product.prix }}€</td>
                    <td>{{ contenu.quantite }}</td>
                    <td>{{ contenu.total }}€</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ form_start(commandeForm, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(commandeForm) }}

        <button type="submit">Passer commande</button>

        {{ form_end(commandeForm) }}

    </div>
{% endblock %}